@import "~bootstrap/dist/css/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue";

@import "layout";
@import "elements";

.navbar {
  height: 56px;
  background-color: #0f0f0f;
}

.page-wrapper {
  overflow: hidden;
}

.jumbotron {
  position: relative;
  background: radial-gradient(
    74% 49.08% at 53.73% 95.67%,
    #162146 0%,
    #1a1a1a 100%
  );

  .btn-create {
    position: relative;
    z-index: 1;
  }

  .banner-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../public/assets/images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right bottom;

    @media screen and (max-width: 768px) {
      margin-right: -50%;
      height: 70%;
    }
  }
}

.alert-box {
  background-color: #15326a;
  border-color: #15326a;
  border-radius: 4px;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.13);
  background-color: #232325;

  .card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  }

  .d-block {
    color: var(--blue);
  }
}
